$color-main: rgb(196, 56, 56);
$color-main-400: #537eed;
$color-main-100: #f5d4d7;

$color-secondary: #2b3345;
$color-secondary-400: #6e7c91;
$color-secondary-100: #f0f0f0;

$color-white: #fff;

@import "./main.scss";
