.footer {
  position: relative;
  color: white;
  background: $color-main;

  &__map-col {
    @media (min-width: $md) {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
    }
  }
  &__map-container {
    height: 250px;

    @media (min-width: $md) {
      height: 100%;
    }
  }

  &__map-element {
    width: 100%;
    height: 100%;
  }
}
