.home-info {
  &__title {
    font-size: 2rem;
    margin: 1em 0;
    @media (min-width: $md) {
      font-size: 3.6rem;
    }
  }
  &__image {
    position: relative;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(50%, -20%);
    top: 0;
    right: 0;
    background: $color-main;
    z-index: 1;

    svg {
      width: 100%;
    }
  }

  &__content {
    margin: 2em 0;
    @media (min-width: $md) {
      margin-left: 2em;
    }
  }
}

.promotions-slider {
  margin-top: -145px;
  margin-bottom: 50px;
}
