@import "./grid.css";
@import "./reset.scss";
@import "./variables.scss";
@import "./svg-colors.scss";
@import "./spacing.scss";

//Pages

@import "./home.scss";
@import "./news.scss";

//components

@import "../components/banner/banner.scss";
@import "../components/circleArrow/circleArrow.scss";
@import "../components/content/content.scss";
@import "../components/footer/footer.scss";
@import "../components/header/header.scss";
@import "../components/header/hamburger.scss";
@import "../components/header/nav.scss";
@import "../components/image/image.scss";
@import "../components/newsBox/newsBox.scss";
@import "../components/offerBox/offerBox.scss";
@import "../components/promotionBox/promotionBox.scss";
@import "../components/slider/slider.scss";
@import "../components/whyBox/whyBox.scss";
@import "../components/producersSlider/producersSlider.scss";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: Tahoma, sans-serif;
  color: $color-secondary;
  letter-spacing: 0.4px;
  @media (min-width: $md) {
    font-size: 1.6rem;
  }

  .wf-active & {
    font-family: "Raleway";
    letter-spacing: unset;
  }
}

.heading {
  &_h1 {
    font-size: 3.2rem;
    font-weight: 800;
    margin: 1em;
    @media (min-width: $md) {
      font-size: 5rem;
    }
  }
  &_h2 {
    font-size: 2.4rem;
    margin: 1.5em 0;
    font-weight: 500;
    @media (min-width: $md) {
      font-size: 3.6rem;
    }
  }

  &_h3 {
    font-size: 2rem;
    font-weight: 600;
    @media (min-width: $md) {
      font-size: 2.4rem;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1 0 auto;
  }

  &__footer {
    flex-shrink: 0;
  }
}

.button {
  background: $color-main;
  color: $color-white;
  font-size: 1.4rem;
  border-radius: 1em;
  padding: 0.5em 1em;
}

.section {
  display: flex;
  padding-bottom: 4em;
  min-height: 0px; // Fix react-slick
  min-width: 0px; // Fix react-slick
  &_dark {
    background: $color-secondary-100;
  }
}
