@import "./grid.css";
@import "./spacing.scss";
@import "./reset.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./nav.scss";
@import "./hamburger.scss";
@import "./footer.scss";

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Tahoma, sans-serif;
  letter-spacing: 0.4px;

  .wf-active & {
    font-family: "Raleway";
    letter-spacing: unset;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1 0 auto;
  }

  &__footer {
    flex-shrink: 0;
  }
}

.section {
  &_dark {
    background: $color-tertiary;
  }
}
