.news {
  &__header {
    position: relative;
    height: 200px;
    @media (min-width: $md) {
      height: 350px;
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1em;
  }

  &__title {
    line-height: 1.5em;
    display: inline;
    color: $color-white;
    background: $color-main;
    box-shadow: 10px 0 0 $color-main, -10px 0 0 $color-main;
  }

  &__date {
    line-height: 1.5em;
    font-size: 1.5em;
    background: $color-secondary;
    color: $color-white;
    box-shadow: 10px 0 0 $color-secondary, -10px 0 0 $color-secondary;
  }

  &__content {
    @include markdown-content();
  }
}
