$header-height-mobile: 70px;
$header-height-desktop: 105px;

$color-main: #1b4fd2;
$color-main-400: #537eed;
$color-secondary: #2b3345;
$color-tertiary: #f0f0f0;
$color-white: #fff;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
