$header-height-mobile: 70px;
$header-height-desktop: 105px;

$color-main: #1b4fd2 !default;
$color-main-400: #537eed !default;
$color-main-100: #e8edf9 !default;

$color-secondary: #2b3345;
$color-secondary-400: #6e7c91;
$color-secondary-100: #f0f0f0;

$color-white: #fff;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$shadow: 0px 40px 60px -60px black;

@mixin box-shadow {
  position: relative;
  margin-bottom: 5rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 10%;
    background: black;
    transform: translateX(-50%);
    box-shadow: 0px 0px 43px -5px black;
    z-index: -1;
  }
}

@mixin markdown-content {
  ul {
    list-style: initial;
  }
  ol {
    list-style: decimal;
  }
  ol,
  ul {
    margin: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5em 0;
  }
}
