$header-height-mobile: 70px;
$header-height-desktop: 105px;

$color-main: #1b4fd2;
$color-secondary: #2f2f2f;
$color-white: #fff;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
