@import "../../styles/variables.scss";
.news-box {
  box-shadow: $shadow;
  position: relative;

  &__top {
    height: 230px;
    padding: 3em;
    background: $color-secondary-100;
  }

  &__date {
    font-size: 1.4rem;
    margin-bottom: 2em;
  }

  &__title {
    overflow: hidden;
    height: 3.6em;
    line-height: 1.2em;
  }
}
