@import "../../styles/variables.scss";
.news-box {
  position: relative;
  height: 450px;
  &__top {
    height: 50%;
    padding: 3em;
    background: $color-tertiary;
  }

  &__bottom {
    height: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__circle {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $color-main;
  }
}
