$transform-header-y-mobile: 20px;
$transform-header-y-desktop: 40px;

.header {
  $self: &;
  background: $color-main;
  width: 100%;
  height: $header-height-mobile;
  position: fixed;
  z-index: 2;
  transition: transform 0.2s ease-in-out;
  @media (min-width: $md) {
    height: $header-height-desktop;
  }

  &::after {
    z-index: -1;
    content: '';
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &_scrolled {
    &::after {
      opacity: 1;
    }
    transform: translateY(-$transform-header-y-mobile);
    @media (min-width: $md) {
      transform: translateY(-$transform-header-y-desktop);
    }
    #{ $self }__container {
      transform: translateY($transform-header-y-mobile/2);
      @media (min-width: $md) {
        transform: translateY($transform-header-y-desktop/2);
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    @media (min-width: $md) {
      justify-content: space-between;
    }
  }

  &__logo {
    line-height: 0;
    &_ada {
      width: 180px;
      @media (min-width: $md) {
        width: 210px;
      }
    }

    &_artel {
      width: 150px;
      @media (min-width: $md) {
        width: 200px;
      }
    }
  }

  &__hamburger {
    display: flex;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (min-width: $md) {
      display: none;
    }
  }

  &__nav {
    display: none;
    @media (min-width: $md) {
      display: block;
    }
  }
}

.mobile-nav {
  $self: &;
  position: fixed;
  top: $header-height-mobile;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: $color-secondary;

  @media (min-width: $md) {
    display: none;
  }

  &_scrolled {
    top: $header-height-mobile - $transform-header-y-mobile;
  }

  &_active {
    z-index: 2;
    opacity: 1;
    background: rgba($color-secondary, 0.9);

    #{ $self }__item {
      transform: translateX(0);
      opacity: 1;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  &__item {
    transform: translateX(-20px);
    opacity: 0;
    transition: none;
    padding: 1em;
    text-align: center;
  }
  @for $i from 1 through 10 {
    &__item:nth-child(#{$i}n) {
      transition-delay: #{0.1 + $i * 0.1}s;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 2.4rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    transition: opacity 0.2s;

    &_active {
      border-bottom: 2px solid $color-white;
    }
  }
}
